<ion-view title="About">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">
    <div class="card">
      <div class="item item-text-wrap">
        El evento tiene como objetivo difundir las propuestas del Software Libre y de la Economía Social y generar espacios de debate e intercambio entre los diferentes actores para ampliar la sinergia entre ambos movimientos.

        La acreditación está abierta para todos los interesados en la web de FACTTIC.

        Contaremos con la participación de cooperativistas de toda la región, y el auspicio de importantes instituciones como la Confederación Nacional de Cooperativas de Trabajo (CNCT), el Instituto Movilizador de Fondos Cooperativos (IMFC), la Confederación Cooperativa de la República Argentina (Cooperar) y la Federación de Cooperativas de Trabajo (Fecootra)

        Durante el evento se realizarán charlas teóricas y de experiencias del Software Libre y la Economía Social.
      </div>
    </div>
    </ion-content>
    </ion-view>
